.text-center{
    text-align: center;
}



.mx-auto{
    margin:auto ;
}
.flex{
display: flex;
}

.flex-col{
flex-direction: column;
}

.item-center{
    justify-content: center;
    align-items: center;


}
.row input{
            width: 279px;
    height: 45px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 37px;
    text-align: end;
}